<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Darts match</title>
</head>
<body onload="setFocusToInput()">
    <div>
        <form action="../player_score" method="POST">
            <h1>{{player}} is aan de beurt</h1>
            <p>
                <label>Score</label>
                <input id="input" name="player_score" type="number">
            </p>
            <p>
                <button>OK</button>
            </p>
            <p>
                <button formaction="/undo">Undo</button>
            </p>
            <p>
                <button formaction="/restart">Restart</button>
            </p>
        </form>
        {% if error %}
            <h3>Fout</h3>
            <p>Ongeldige score</p>
        {% endif %}
    </div>
</body>
<script>
    function setFocusToInput() {
      document.getElementById("input").focus();
      document.getElementById("input").click();
    }
</script>
</html>